

.container {
  background-color: rgb(241, 121, 121);
  padding: 20px;
}

.h1 {
  color: rgb(81, 32, 32);
  
}

ul {
  background-color: brown;
}
.span {
  font-size: 15px;
  font-weight: bold;
  border: 3px dotted white;
}
